<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>HernIA | Clasificación de hernias hiatales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<script>
    const fileInput = document.getElementById("file-upload");
    const fileNameSpan = document.getElementById("file-name");

    fileInput.addEventListener("change", () => {
        if (fileInput.files.length > 0) {
            fileNameSpan.textContent = fileInput.files[0].name;
        } else {
            fileNameSpan.textContent = "Ningún archivo seleccionado";
        }
    });
</script>
<body>

<header class="app-header">
    <h1>HernIA</h1>
    <p>Clasificación de hernias hiatales en imágenes radiológicas frontales</p>
</header>

<div class="app-container">

    <!-- LEFT -->
    <div class="viewer">
        <h2>Adjuntar Radiografía</h2>

        <form method="POST" enctype="multipart/form-data">
            <label for="file-upload" class="file-label">
                Seleccionar imagen
            </label>
            <span id="file-name">Ningún archivo seleccionado</span>
        
            <input id="file-upload" type="file" name="image" accept="image/*" required hidden>
        
            <button type="submit">Iniciar Análisis</button>
        </form>

        {% if image_preview %}
            <img src="data:image/png;base64,{{ image_preview }}" class="xray">
        {% endif %}
    </div>

    <!-- RIGHT -->
    <div class="results">
        <h2>Resultados</h2>

        {% if error_message %}
            <div class="status danger">
                {{ error_message }}
            </div>
        {% endif %}

        {% if result %}
            <div class="status {{ 'danger' if result.has_hernia else 'success' }}">
                {{ "Hernia detectada" if result.has_hernia else "No se ha detectado hernia" }}
            </div>

            <div class="confidence">
                <span>Nivel de Confianza</span>
                <div class="bar">
                    <div class="fill" style="width: {{ result.confidence * 100 }}%"></div>
                </div>
                <small>{{ result.confidence * 100 }}%</small>
            </div>

            <a href="/export_pdf" class="pdf-btn">Exportar en PDF</a>
        {% else %}
            <p>No se ha realizado ningún análisis aún.</p>
        {% endif %}
    </div>

</div>
<footer class="app-footer">
    <p>
        Esta aplicación tiene fines exclusivamente académicos y de investigación.
        Los resultados generados no deben ser utilizados para diagnóstico, tratamiento
        o toma de decisiones clínicas en situaciones médicas reales.
    </p>
</footer>
</body>
</html>